* {
    margin: 0;
    padding: 0;
}

.top-style-inner, .bottom-style-inner {
    display: flex;
    /*padding: 10px;                /* 去除文字前的衬垫、编号符号 */
    list-style-type: none;      /* 去除默认的列表样式 */
    background-color: #333;   /* 设置背景颜色 */
    height: 100%;
    color: #999;             /* 设置文字颜色 */
    align-items: center;
}


body.test {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;      /* 将列表项显示为内联块元素 */
    margin-right: 10px;         /* 设置列表项之间的间距 */
    color: #999;             /* 设置文字颜色 */
}

ul.top-style-inner li {
    display: flex;
    align-items: center;
    height: 100%;
}

a.top-style-inner {
    text-decoration: none;      /* 去除链接下划线 */
    color: #666;              /* 设置链接文字颜色 */
    /*padding: 10px;              /* 设置链接内边距 */
    display: block;             /* 使整个链接区域可点击 */
    background-color: black;
    height: 100%;
    text-align: center;
    line-height: 48px;          /* 要设置为与父标签高度一致 */
    margin-right: 10px;
}

.ff {
    display: inline-flex;

}

a:hover {
    background-color: #575757;/* 设置鼠标悬停时背景颜色 */
}

div.container {
    display: flex;      /* 将它的直接子元素（即内部的 <div> 标签）排列成一行 */
    height: 48px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;   /* 设置背景颜色 */
    /* padding: 10px; */
}

div.top-style-left {
    display: flex;      /* 将它的直接子元素（即内部的 <div> 标签）排列成一行 */
    /* justify-content: left; */
    align-items: center;
    height: 100%;
}

div.top-style-middle {
    display: flex;      /* 将它的直接子元素（即内部的 <div> 标签）排列成一行 */
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}

div.top-style-right {
    display: flex;      /* 将它的直接子元素（即内部的 <div> 标签）排列成一行 */
    /* justify-content: right; */
    align-items: center;
    height: 100%;
}

div.top-style-inner {
    display: flex;      /* 将它的直接子元素（即内部的 <div> 标签）排列成一行 */
    /* justify-content: right; */
    align-items: center;
    /* padding: 10px; */
    margin-right: 10px;

}

Main {
    display: flex;
    justify-content: center;
}

aside {
    display: flex;
    width: 250px;
    padding: 20px;
    /* box-shadow: 2px 0 5px rgba(0,0,0,0.1); */
    flex-direction: column;
}

.aside-left {
    width: 200px; 
    background-color: #d0d0d0; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 5%; 
    padding: 10px;
    height: 500px;
    transform: translateY(50%);
}

.aside-right {
    width: 200px; 
    background-color: #d0d0d0; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    right: 5%; 
    padding: 10px;
    height: 500px;
    transform: translateY(50%);
}

.pop-recommanded {
    display: flex;
    flex-direction: column;
}


/* 悬停菜单效果 */
/* 隐藏下拉菜单（默认） */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: l;
    min-width: 100px;       /* 最小宽度保持一致 */
}

/* 显示下拉菜单（当鼠标悬停在触发元素上时） */
.dropdown-container:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
    min-width: 100px;       /* 最小宽度保持一致 */
}

.dropdown-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 100px;       /* 最小宽度保持一致 */
    text-align: center;     /* 设置悬停菜单内容居中 */
}

.dropdown-trigger {
    /* padding: 16px; */
    /* cursor: pointer; */
    position: relative;     /* 确保绝对定位的子元素相对于此元素定位 */
    display: inline-block;  /* 允许设置宽度和高度 */
}

footer {
    /* position: absolute; */
    margin-top:auto;
    /* padding: 20px; */
    bottom: 0%;
    left: 40%;
    right: 40%;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

button.backToTop {
    position: fixed;
    bottom: 85px;
    right: 230px;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    width: 80px;
    cursor: pointer;
}